fastapi==0.136.1
uvicorn==0.46.0
sqlalchemy==2.0.50
alembic==1.18.5

psycopg2-binary==2.9.12

pydantic
pydantic-settings
python-dotenv
python-multipart

python-jose[cryptography]
PyJWT==2.10.1
passlib[bcrypt]
bcrypt==5.0.0

httpx
requests

groq==1.5.0

numpy==2.4.1
pandas==3.0.0
scikit-learn==1.8.0
joblib==1.5.3
xgboost==3.2.0

python-dateutil
PyYAML

jinja2